body {
    margin: 2em;
    color: #fff;
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #FF0000;
  }

.header {
    padding: 60px;
    text-align: center;
    background: #4dbc1a;
    color: white;
    font-size: 40px;
  }
  #noprint { display: block; }
  #print { display: none; }