/* body {
    margin: 0;
    color: #000;
    background-color: #ffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 100%;
    font-size: 15px;
}

.graph{
    filter: invert(100%) hue-rotate(180deg) brightness(120%) contrast(150%);
}

header, footer, aside, nav, form, iframe, .menu, .hero, .adslot {
    display: none;
}

a[href*='//']:after {
    content:" (" attr(href) ") ";
}

.list {
    page-break-after: always;
}

.img2{
    max-width: 500px;
} */

/* body { display: none; } */
#noprint { display: none; }
#print { display: block; }
